@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "variables";
@import "index";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $black;
}

body .menu{
    background-color: $white;
}

header{
    border-top: 1rem solid $white;
    background-color: $white;
}

nav{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center; 
    gap: 5rem;
    align-items: center;
    text-transform: uppercase;
    background-color: $white;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    color: $black;
    font-size: 0.8rem;
    text-transform: none;
    margin-top: auto;
    min-height: 5vh;
}

footer span{
    color: $white;
}

form{
    width: 100%;
}

.back-white{
    background-color: $white;
}

/* INDEX */

.center{
    background-image: url(../images/background-index.jpg);
    height: 70vh;
}

@media (max-width: $screen-md){
    .boton-susc{
        margin-top: 10px;
    }

    .banderas{
        border-left: none !important; 
        border-right: none !important;
    }
}

@media (max-width: $screen-sm){
    footer{
        font-size: 0.7rem;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-susc{
        margin-top: 10px;
        width: 220px !important;
    }

    .boton-susc{
        margin-top: 10px;
    }

    .social-media{
        margin-top: 10px;
    }

}

.banderas{
    border-left: solid 1px $white;
    border-right: solid 1px $white;
}

@media (max-width: $screen-gr){
    .input-susc{
        margin-top: 10px;
        width: 100px;
    }
}

.margin-enterate{
    font-size: 0.9rem;
    margin-bottom: -0.3rem;
    margin-left: 1.3rem;
}

.margin-news{
    margin-bottom: -0.4rem;
    margin-left: 0.1rem;
}

.input-susc{
    border-radius: 2rem;
    max-width: 50%;
}

.boton-susc{
    border-radius: 2rem;
    background-color: $black;
    border: solid $white;
    color: $white;
    margin-left: 0.5rem;
    padding: 0.3rem;
    transition: all 0.3s;
    max-width: 50%;
    text-decoration: none;

    &:hover{
        transform: scale(1.1);
    } 
}

/* NOSOTROS */

.txt-us{
    text-transform: none;
}

/* MENU */

.card{
    text-align: center;
    box-shadow: 4px 4px 10px rgb(0 0 0 / 46%);
    border-radius: 2rem;
    background-color: $light_green;
    a{
        text-decoration: none;
        color: $black;
        font-weight: bolder;
        background-color: $dark_green;
        border-radius: 2rem;
        font-size: 18px;
        white-space: nowrap;
    }

    p{
        text-transform: none;
    }
}

.card-img-top{
    border-radius: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

/*DICCIONARIO*/

.dicc-text{
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: none;
}

.dicc-text-items{
    font-size: 1rem;
    text-transform: none;
    font-weight: lighter;
    text-align: justify;
}

.dicc-text{
    text-transform: none;
}

.dicc-img{
    box-shadow: 4px 4px 3px 0.1px rgba(0, 0, 0, 0.2);
    transition: all 0.7s;

    &:hover{
        transform: scale(1.05);
    }
}

/* CONTACTO */

.img-calaca{
    width: 8rem;
}

.box-form{
    background-color: $light_green;
    border-radius: 3rem;
    box-shadow: 4px 4px 3px 0.1px rgba(0, 0, 0, 0.2);
    padding-block: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn-form:hover{
    background-color: $green_hover;
}

.form-control{
    resize: none;
}

.form-content {
    h1{ 
    text-align: center;
    }
}

.form-msg {
    p{
        background-color: $light_green;
        padding: 2rem;
        border-radius: 2rem;
        text-transform: none;
        font-size: 1.5rem;
        text-align: center;
        font-weight: lighter;
        box-shadow: 4px 4px 3px 0.1px rgba(0, 0, 0, 0.2);
    }
}

/* IMAGENES */

.img-fl{
    max-width: 100%;
    height: auto;
    box-shadow: 4px 4px 3px 0.1px rgba(0, 0, 0, 0.2);
    transition: all 0.7s;

    &:hover{
        transform: scale(1.05);
    }
}